table {
    padding-left: 5%;
    padding-top: 3%;
    width: 70%;
}

td, th {
    padding: 10px;
    margin: auto;
    font-size: 16px;
    border-radius: 14px;
    width: 170px;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    border-bottom-style: none;
}

.create {
    position: fixed;
    padding-left: 90%;
    padding-top: 3%;
    font-size: xxx-large;
    color: darkslategray;
}

.delete-button:hover {
    cursor: pointer;
    color: grey;
}

.create:hover {
    cursor: pointer;
    color: lightslategray;
} 

.instruments-table {
    padding-left: 2%;
    padding-top: 3%;
}